@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* reset.css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset.css */

/* header */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0px;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

body * {
  font-family: "Noto Sans KR", sans-serif;
}

.bg__dark {
  width: 100vw;
  height: 100%;
  background-color: gray;
  opacity: 0.6;
  position: absolute;
  z-index: 4;
  display: none;
}

.header__container {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

header {
  padding: 10px;
  font-size: 25px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 3;
  border-bottom: 1px solid lightgray;
}

.navBar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar__name__h1 {
  font-weight: bold;
}

.navBar__left {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.navBar__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navBar__right__save {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px 17px;
  color: gray;
}

.navBar__right__temporal:hover {
  background-color: lightgray;
}

.navBar__line {
  width: 100%;
}

.navBar__login__btn {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px 17px;
  color: gray;
}

.navBar__login__btn:hover {
  background-color: lightgray;
}

.navBar__profile__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
}

/* asdie 창 */

aside {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 18px;
  box-shadow: 1px 1px 3px gray;
  visibility: hidden;
  transform: translateX(-400px);
  z-index: 4;
  overflow: auto;
}

.aside__top {
  height: 10%;
  display: flex;
  background-color: #efedea;
}

.aside__top i {
  margin-left: auto;
  margin-right: 15px;
  margin-top: 15px;
}

.aside__main {
  height: 40%;
  text-align: center;
  background-color: #efedea;
}

.aside__main * {
  padding: 6px;
}

.aside__main__profile {
  height: 80%;
  font-size: 13px;
}

.main__profile__img {
  width: 90px;
  height: 80px;
}

#profile__userName {
  font-weight: bold;
  font-size: 18px;
}

.main__profile__write {
  height: 20%;
}

.profile__write__btn {
  border-radius: 10px;
  border: 1px solid gray;
}

.aside__list {
  font-size: 15px;
  background-color: white;
  padding: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 28px;
  height: 45%;
}

.aside__list li {
  cursor: pointer;
}

.list__mycafe__input {
  display: none;
}

.aside__list__myCafe {
  padding-left: 35px;
  font-size: 13px;
  line-height: 20px;
  color: gray;
}

.aside__list .dropDn ul {
  display: none;
}

.show_list {
  display: block;
}

.show_aside {
  transition: all ease 0.4s;
  transform: translateX(0px);
}

/* modal 창 */

#modal {
  position: fixed;
  width: 85%;
  display: flex;
  visibility: hidden;
  justify-content: center;
  top: -30px;
  z-index: 4;
}

.modal__show {
  transition: all ease 0.5s;
  transform: translateY(70px);
}

.modal__wrap {
  width: 500px;
  height: 500px;
  background-color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal__wrap input {
  padding: 10px;
  margin: 0px;
  width: 100%;
  height: 40px;
  margin: 1vh 0;
  border-radius: 10px;
}
#login__submit__btn {
  background-color: white;
}

#modal__close {
  position: absolute;
  top: 10px;
  right: 12px;
}

.modal__login__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__login__social input {
  color: white;
  border: none;
  padding: 5px;
  height: 30px;
  margin: 5px 0px;
}

/* main 페이지 */
.main__container {
  height: 100%;
}

main {
  width: 100%;
  padding: 50px 120px 0px 120px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.article__container {
  width: 100%;
  display: flex;
}

/* signUp 페이지 */

#signUp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__signUp__form {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 100px 50px 50px 50px;
}

#kakao__login {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social__login__imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#social__login {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px;
}

/*collection container */
.collection__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 15%;
  position: relative;
  margin-top: 50px;
}

.first__img {
  width: 102px;
  height: 136px;
  background-color: #d97a7a;
  margin-left: auto;
  margin-right: auto;
}

.second__img {
  width: 102px;
  height: 136px;
  position: relative;
  left: -12px;
  top: -10px;
  background-color: #d9d9d9;
}

.third__img {
  width: 102px;
  height: 136px;
  position: relative;
  left: 17px;
  top: -10px;
  background-color: #ffffff;
  border: 1px solid grey;
}

.collection__title {
  color: #5f5a5a;
  font-size: 20px;
  text-align: center;
  margin-top: 17px;
}

.collector__name {
  font-size: 12px;
  color: #5f5a5a;
  margin-top: 10px;
}

.collection__others {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.collection__like,
.collection__market {
  border-radius: 13px;
  width: 45px;
  height: 20px;
  border: 1px solid #b4b4b4;
  font-size: 11px;
  margin-right: 3px;
  margin-left: 3px;
  color: #9a9a9a;
}

.collection__hashtag {
  margin-top: 8px;
  font-size: 13px;
  color: #656565;
}
/* article lists */

.article__list {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
  height: 90%;
  overflow-y: auto;
}

.article__container__min {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100px;
}

.article__toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  justify-content: center;
  color: black;
  font-size: 20px;
  width: 40px;
  height: 100%;
}

.article__contents__container {
  display: flex;
  padding: 15px;
  gap: 15px;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid lightgray;
}

.contents__thumbNail__imgs {
  border-radius: 20px;
  width: 120px;
  height: 90px;
}

.article__contents__texts {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.contents__title {
  font-weight: bold;
  font-size: 15px;
}

.contents__paragraph,
.contents__source {
  font-weight: 300;
  font-size: 10px;
}

.contents__source {
  text-align: end;
}

/* article__container__max */

.article__container__max {
  display: none;
  border-radius: 10px;
  gap: 20px;
  width: 600px;
  background-color: white;
}

.article__toggle__max {
  cursor: pointer;
  height: 14px;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
  color: black;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.article__container__max p {
  margin-right: 7px;
}

.article__contents__max {
  text-align: justify;
  padding: 20px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contents__texts__max {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.texts__source__max {
  font-weight: bold;
  color: #d97a7a;
  font-size: 12px;
}

.texts__title__max {
  font-weight: bolder;
  font-size: 18px;
}

.texts__when__max p {
  text-align: right;
  color: gray;
  font-size: 5px;
  font-weight: lighter;
}

.contents__original {
  display: flex;
  height: 400px;
  overflow: auto;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}

.contents__original__img {
  width: 100%;
}

.contents__original__text {
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

/* article__list__container */

#article__list__container {
  width: 48%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

#article__list__container::-webkit-scrollbar {
  background-color: lightgray;
  width: 7px;
}

#article__list__container::-webkit-scrollbar-thumb {
  background-color: gray;
  width: 7px;
  border-radius: 5px;
}

/* comment container*/
.comment__container {
  width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.comment__title {
  font-size: 23px;
  color: black;
  text-align: left;
  width: 100%;
}

.divider {
  border-top: 1px solid #d9d9d9;
  margin-top: 18px;
}

.comment__body {
  color: #656565;
  line-height: 150%;
  font-size: 14px;
  text-align: left;
}
/* footer */

footer {
  width: 100%;
  position: fixed;
}
