{% load static %}


<!DOCTYPE html>
<html lang="Ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NEWSLATTE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static '/post/css/eachArticle.css' %}" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
  <div class="bg__dark"></div>
  <div class="mypage__container">
    <div class="eachArticle__main">
      <div class="header__container">
        <header>
          <nav>
            <div class="navBar__container">
              <div class="navBar__left">
                <i id="navBar__toggle__icon" class="fa-solid fa-bars"></i>
                <div class="navBar__name">
                  <h1 class="navBar__name__h1">NEWSLATTE</h1>
                </div>
              </div>
              <div class="navBar__right">
                <div class="navBar__right__search">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="navBar__right__profile">
                  <img class="right__profile__img" src="{% static '/post/img/dummy.png' %}" alt="" />
                </div>
                <button class="navBar__right__write">글쓰기</button>
              </div>
            </div>
          </nav>
        </header>
      </div>
      <main>
        <section class="main__eachArticle">
          <div class="eachArticle__container">
            <div class="eachArticle__metaData__container">
              <div class="metadata__hashtags">
                {% for tag in tags %}
                <p>&#35;{{tag.name}}&nbsp;</p>
                {% endfor %}
              </div>
              <div class="metadata__mainTitle">
                <h2>
                  {{post_detail.title}}
                </h2>
              </div>
              <div class="metadata__smallTitle">
                <h3>
                  {{post_detail.subtitle}}
                </h3>
              </div>
              <div class="metadata__author__when">
                <div class="metadata__author">
                  <p>{{post_detail.author.nickname}}</p>
                </div>
                <div class="metadata__when">
                  {{ post_detail.created_at|date:'Y-m-d H:i' }}
                </div>
              </div>
            </div>
            <hr />
            <article class="eachArticle__contents__container">
              <div class="article__list__container">
                <div class="article__list__toggle">
                  <div id="list__toggle__min">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                  </div>
                  <div id="list__toggle__max">
                    <i class="fa-solid fa-circle-chevron-down"></i>
                  </div>
                  <div class="list__toggle__intro">
                    <p>참고 컬렉션</p>
                  </div>
                </div>
                <div class="list__line__container">
                  <div class="toggle__line"></div>
                  <div class="article__list">

                    {% for new in news %}
                    <article class="article__container__min">
                      <div class="article__toggle">
                        <i class="fa-solid fa-circle-chevron-right"></i>
                      </div>
                      <div class="article__contents__container">
                        <div class="article__contents__thumbNail">
                          <img class="contents__thumbNail__imgs" src="{{ new.image.image }}" alt="" />
                        </div>
                        <div class="article__contents__texts">
                          <div class="contents__title">
                            <p>{{ new.title }}</p>
                          </div>
                          <div class="contents__paragraph">
                            <p>
                              {{ new.summary }}
                            </p>
                          </div>
                          <div class="contents__source">
                            <p>{{ new.press }}</p>
                          </div>
                        </div>
                      </div>
                    </article>
                    <article class="article__container__max">
                      <div class="article__toggle__max">
                        <i class="fa-solid fa-circle-chevron-down"></i>
                      </div>
                      <div class="article__contents__max">
                        <div class="contents__texts__max">
                          <div class="texts__source__max">
                            <p>{{ new.press }}</p>
                          </div>
                          <div class="texts__title__max">
                            <p>{{new.title}}</p>
                          </div>
                          <div class="texts__when__max">
                            <p>
                              {{ new.date }}
                              
                            </p>
                          </div>
                        </div>
                        <div class="contents__original">
                          <div class="contents__original__img">
                            <img src="{{ new.image.image }}" alt="" />
                          </div>
                          <div class="contents__original__text">
                            {{ new.main_content }}
                          </div>
                        </div>
                      </div>
                    </article>
                  {% endfor %}
                  </div>
                </div>

                <div class="article__paragraph__container">
                  <p>
                    {{post_detail.content}}
                  </p>
                </div>
              </div>

            </article>
            <div class="eachArticle__informations">
              <div class="eachArticle__informations__recommend">👍({{ post_detail.likes}})</div>
              <div class="eachArticle__informations__comment">🗨({{ post_detail.comment_set.count }})</div>
              <div class="eachArticle__informations__myCart">🛒({{ post_detail.refCount }})</div>
            </div>
            <div class="eachArticle__author">
              <p>Written by {{post_detail.author.nickname}}</p>
              <img class="eachArticle__author__img" src="{% static '/post/img/dummy.png' %}" alt="" />
            </div>
            <div class="eachArticle__list">
              <hr />
              <ul class="list__articles">
                {% for post in posts %}
                {% if post == post_detail %}
                <div class="list__article__container">
                  <li><a style="color: red;" href="{% url 'detail_page' post.id %}">{{post.title}}</a></li>
                  <p class="list__articles__when">{{post.created_at|date:'Y-m-d'}}</p>
                </div>
                {% else %}
                <div class="list__article__container">
                  <li><a style="color: black;" href="{% url 'detail_page' post.id %}">{{post.title}}</a></li>
                  <p class="list__articles__when">{{post.created_at|date:'Y-m-d'}}</p>
                </div>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="page__navigator__container">
              <div class="eachArticle__page__navigator">
                {% if posts.has_other_pages %}
                <!-- page가 1개일 때 숫자표시 없애기 -->


                {% if posts.has_previous %}
                <p class="navigator__controll left"><a style="color:black;"
                    href="?page1={{posts.previous_page_number}}">&#8249;</a></p>
                {% endif %}


                <div class="navigator__controll__number">
                {% for page1 in custom_post_range %}
                {% if page1 == posts.number %}
                <a style="color: red;" href="?page1={{page1}}">{{page1}}</a>
                {% else %}
                <a style="color:black;" href="?page1={{page1}}">{{page1}}</a>
                {% endif %}
                {% endfor %}
                </div>


                {% if posts.has_next %}
                <p class="navigator__controll right"><a style="color:black;"
                    href="?page1={{posts.next_page_number}}">&#8250;</a></p>
                {% endif %}
                {% endif %}
              </div>
            </div>

            <!-- 로그인한 사람만 댓글 폼 보이게 -->
              {% if user.is_authenticated %}
              <form action="{% url 'new_comment' post_detail.id %}" method="POST">
                <div class="eachArticle__comments">
                  <div class="eachArticle__comments__write">
                    <p>댓글({{ post_detail.comment_set.count }})</p>
                    {% csrf_token %}
                    <div class="eachArticle__comments__textArea">
                      <textarea name="comment" id="comment" placeholder="  댓글을 입력해주세요"></textarea>
                    </div>
                    <div class="comments__submit__container">
                      <input type="hidden" id="post_id" value="{{post_detail.id}}">
                      <input type="submit" class="eachArticle__comments__submit" value="확인">
                    </div>
                  </div>
              {% else %}
              <form action=""></form>
              <div class="eachArticle__comments">
                <div class="eachArticle__comments__write">
                  <p>댓글({{ post_detail.comment_set.count }})</p>
                  {% csrf_token %}
                  <div class="eachArticle__comments__textArea">
                    <textarea name="comment" id="comment" placeholder="  로그인 후 이용해주세요"></textarea>
                  </div>
                  <div class="comments__submit__container">
                    <input type="hidden" id="post_id" value="{{post_detail.id}}">
                    <input type="submit" class="eachArticle__comments__submit" value="확인">
                  </div>
                </div>
                {% endif %}
              </form>

            <div class="eachArticle__comments__list">
              {% for comment in comments %}
              <div class="eachArticle__eachComment">
                <div class="eachComment__profile">
                  <img class="eachComment__profile__img" src="{% static 'post/img/coffee_icon.png' %}" alt="" />
                  <div class="eachComment__profile__metadata">
                    <p class="profile__metadata__writer">{{ comment.author.nickname }}</p>
                    <p class="profile__metadata__when">
                      {{ comment.date|date:'Y-m-d H:i' }}
                    </p>
                  </div>
                </div>
                <div class="eachComment__contents">
                  <p>
                    {{ comment.comment }}
                  </p>
                  <div class="eachArticle__divide">
                    <hr />
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <!-- comment pagination -->
            <div class="page__navigator__container">
              <div class="eachArticle__page__navigator">
                {% if comments.has_other_pages %}

                {% if comments.has_previous %}
                <p class="navigator__controll left"><a style="color:black;"
                    href="?page2={{comments.previous_page_number}}">&#8249;</a></p>
                {% endif %}
                
                <div class="navigator__controll__number">
                  {% for page2 in custom_comment_range %}
                  {% if page2 == comments.number %}
                  <a style="color: red;" href="?page2={{page2}}">{{page2}}</a>
                  {% else %}
                  <a style="color:black;" href="?page2={{page2}}">{{page2}}</a>
                  {% endif %}
                  {% endfor %}
                </div>


                {% if comments.has_next %}
                <p class="navigator__controll right"><a style="color:black;"
                    href="?page2={{comments.next_page_number}}">&#8250;</a></p>
                {% endif %}
                {% endif %}
              </div>
            </div>

          </div>
    </div>
  </div>

  </div>
  </section>
  </main>
  <footer></footer>
  </div>
  </div>
  <!-- <script>

    $.ajaxSetup({
      headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
  </script>
  <script type = "text/javascript">
    let comment = document.querySelector('.eachArticle__comments__submit');

    comment.addEventListener('click', e => {
      var comment = document.getElementById('comment').value;
      var post_id = document.getElementById('post_id').value;


      console.log(comment)
      console.log(post_id)
      let dict = {'comment': comment, 'post_id': post_id}
      $.ajax({
        url: '/post/comment/',
        type: 'POST',
        data: JSON.stringify(dict),
        success:function(data){
          json.loads(data)
        },
        error: function(){
          alert('전송실패')
        }
      });
     }); 

  </script> -->
  <script type="text/javascript" src="{% static '/post/js/eachArticle.js' %}"></script>
</body>

</html>