<!-- This File should be deleted before distuributing -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form style="width: 3000px; height:200px;">
    {% csrf_token %}
    <div style="width:120%">
        <table style="width:400px; height:300px;">
            {{ form.as_table }}
        </table>
    </div>
    <input type="submit" value="글 작성">
</form>


</body>
</html>
