{% load static %}

<!DOCTYPE html>
<html lang="Ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>NEWSLATTE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static '/ui/css/style.css'%}" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="bg__dark">
    <p>1024px 이상의 PC 화면에서 봐주세요 :)</p>
  </div>
  <div class="header__container">
    <header>
      <nav>
        <div class="forHeight">
          <div class="navBar__trash">
            <div class="navBar__container">
              <div class="navBar__left">
                <i id="navBar__toggle__icon" class="fa-solid fa-bars"></i>
                <div class="navBar__name">
                  <h1 class="navBar__name__h1">NEWSLATTE</h1>
                </div>
              </div>
              <div class="navBar__right">
                <div class="navBar__searchLogin">
                  {% if user.is_authenticated %}
                  <img class="navBar__profile__img" src="../static/ui/img/dummy.png" alt="">
                  <a href="{% url 'create_post' %}"><button class="navBar__login__btn">글쓰기</button></a>
                  <a href="{% url 'logout' %}"><button class="navBar__login__btn">로그아웃</button></a>
                  {% else %}
                  <a href="{% url 'login' %}"><button class="navBar__login__btn">로그인</button></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="Contents__nav__trash">
            <div class="Contents__nav">
              <button class="Contents__btn">뉴스라떼</button>
              <button class="Contents__btn">추천 컬렉션</button>
              <button class="Contents__btn">추천 인사이트</button>
              <button class="Contents__btn">오늘의 인사이트</button>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>
  <aside>
    <div class="aside__top">
      <i id="aside__top__icon" class="fa-solid fa-angles-left"></i>
    </div>
    <div class="aside__main">
      <div class="aside__main__profile">
        <img class="main__profile__img" src="{% static 'ui/img/coffee_icon.png' %}" alt="" />
        <p id="profile__userName">user name</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          ratione architecto, nulla id repellat assumenda. Atque, consectetur
          id quam doloribus, eveniet numquam assumenda, animi tempora facilis
          non tempore optio. Earum?
        </p>
      </div>
      <div class="main__profile__write">
        <button class="profile__write__btn">글 작성하기</button>
      </div>
    </div>
    <div class="aside__list">
      <ul>
        <li>
          <p class="dropDn">&#9749; 내 컬렉션</p>
        </li>
        <li>
          <p class="dropDn">&#9749; 내 카페</p>
          <ul class="aside__list__myCafe">
            <li>
              <p class="dropDn">시사</p>
            </li>
            <li>
              <p class="dropDn">경제</p>
            </li>
            <li>
              <p class="list__mycafe__add">&#43;</p>
              <input class="list__mycafe__input" type="text" />
            </li>
          </ul>
        </li>
        <li>
          <p class="dropDn">&#9749; 오늘의 컬렉션</p>
        </li>
        <li>
          <p class="dropDn">&#9749; organization</p>
        </li>
        <li>
          <p class="dropDn">&#9749; 문의사항 및 질문</p>
        </li>
      </ul>
    </div>
  </aside>
  <div class="main__container">
    <main>
      <section class="main__slide">
        <img id="main__bgImg" src="{% static '/ui/img/main_img.png'%}" alt="" />
        <div class="main__button__container">
          <p>바로가기</p>
          <span>&#62;</span>
        </div>
      </section>
      <section id="recommend__collection">
        <div class="recommend__collection__container">
          <div class="collection__hashtag">
            <div class="collection__container__name">추천 컬렉션</div>
            <div class="collection__hashtag__choose">
              <div class="hashtag__choose__sentence">
                <div class="sentence__upper">
                  <span>'</span>
                  <span class="sentence__namespace"></span>
                  <span>'에 대해<br /></span>
                </div>
                <div class="sentence__lower">관심이 있다면...</div>
              </div>
              <input class="hashtag__search" type="text" value="" />
              <div class="hashtag__list">
                <button class="hashtag__btn">#과학</button>
                <span class="btn__wall">|</span>
                <button class="hashtag__btn">#환경</button>
                <span class="btn__wall">|</span>
                <button class="hashtag__btn">#정치</button>
                <span class="btn__wall">|</span>
                <button class="hashtag__btn">#문화</button>
              </div>
            </div>
            <span class="comment"><br />원하는 관심사를 입력해보세요!</span>
          </div>
          <div class="collection__post">
            <div class="button__trash">
              <button class="collection__post__left"></button>
            </div>
            <div class="collection__post__list">
              <div class="collection__post__container">
                <div class="post__img__container">
                  <div class="first__img"></div>
                  <div class="second__img"></div>
                  <div class="third__img"><img src="" alt="" /></div>
                </div>
                <p class="collection__post__id" style="display: none"></p>
                <p class="collection__post__title">title title</p>
                <p class="collection__post__author">author author</p>
                <div class="collection__post__likeandmarket">
                  <div class="post__like">👍(10)</div>
                  <div class="post__market">🛒(10)</div>
                </div>
              </div>
              <div class="collection__post__container">
                <div class="post__img__container">
                  <div class="first__img"></div>
                  <div class="second__img"></div>
                  <div class="third__img"><img src="" alt="" /></div>
                </div>
                <p class="collection__post__id" style="display: none"></p>
                <p class="collection__post__title">title title</p>
                <p class="collection__post__author">author author</p>
                <div class="collection__post__likeandmarket">
                  <div class="post__like">👍(10)</div>
                  <div class="post__market">🛒(10)</div>
                </div>
              </div>
              <div class="collection__post__container">
                <div class="post__img__container">
                  <div class="first__img"></div>
                  <div class="second__img"></div>
                  <div class="third__img"><img src="" alt="" /></div>
                </div>
                <p class="collection__post__id" style="display: none"></p>
                <p class="collection__post__title">title title</p>
                <p class="collection__post__author">author author</p>
                <div class="collection__post__likeandmarket">
                  <div class="post__like">👍(10)</div>
                  <div class="post__market">🛒(10)</div>
                </div>
              </div>
              <div class="collection__post__container">
                <div class="post__img__container">
                  <div class="first__img"></div>
                  <div class="second__img"></div>
                  <div class="third__img"></div>
                </div>
                <p class="collection__post__title">title title</p>
                <p class="collection__post__author">author author</p>
                <div class="collection__post__likeandmarket">
                  <div class="post__like">👍(10)</div>
                  <div class="post__market">🛒(10)</div>
                </div>
              </div>
            </div>
            <div class="button__trash">
              <button class="collection__post__right"></button>
            </div>
          </div>
        </div>
        <hr class="onlyHR" />
      </section>
      <div class="down__all">
        <section id="recommend__and__todays__insight">
          <div class="recommend__insight__container">
            <div class="recommend__insight__title">추천 인사이트</div>
            <div class="recommend__insight__post__list">
              {% if posts.0 %}
              <div class="recommend__insight__post__container">
                <div class="recommend__insight__post__image" id="{{posts.0.id}}">
                  <img src="{{posts.0.img}}" id="{{posts.0.id}}" />
                </div>
                <a class="recommend__insight__post__title">{{posts.0.title}}</a>
                <a class="recommend__insight__post__body">
                  {{posts.0.subhead}}
                </a>
                <p class="recommend__insight__post__author">
                  written by {{posts.0.author}}
                </p>
                <div class="recommend__insight__post__others">
                  <div id="{{posts.0.id}}" class="insight__post__like" onclick="limitThumbsUp(id)">
                    👍({{posts.0.likes}})
                  </div>
                  <div class="insight__post__comment">🗨(10)</div>
                  <div class="insight__post__market">
                    🛒({{posts.0.refCount}})
                  </div>
                  <div class="recommend__post__hashtag">
                    {% for tag in posts.0.tag.all %}
                    <span>#{{ tag }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endif %} {% if posts.1 %}
              <div class="recommend__insight__post__container">
                <div class="recommend__insight__post__image">
                  <img src="{{posts.1.img}}" id="{{posts.1.id}}" />
                </div>
                <a class="recommend__insight__post__title">{{posts.1.title}}</a>
                <a class="recommend__insight__post__body">
                  {{posts.1.subhead}}
                </a>
                <p class="recommend__insight__post__author">
                  written by {{posts.1.author}}
                </p>
                <div class="recommend__insight__post__others">
                  <div id="{{posts.1.id}}" class="insight__post__like" onclick="limitThumbsUp(id)">
                    👍({{posts.1.likes}})
                  </div>
                  <div class="insight__post__comment">🗨(10)</div>
                  <div class="insight__post__market">
                    🛒({{posts.1.refCount}})
                  </div>
                  <div class="recommend__post__hashtag">
                    {% for tag in posts.1.tag.all %}
                    <span>#{{ tag }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endif %} {% if posts.2 %}
              <div class="recommend__insight__post__container">
                <div class="recommend__insight__post__image">
                  <img src="{{posts.2.img}}" id="{{posts.2.id}}" />
                </div>
                <a href="" class="recommend__insight__post__title">{{posts.2.title}}</a>
                <a href="" class="recommend__insight__post__body">
                  {{posts.2.subhead}}
                </a>
                <p class="recommend__insight__post__author">
                  written by {{posts.2.author}}
                </p>
                <div class="recommend__insight__post__others">
                  <div id="{{posts.2.id}}" class="insight__post__like" onclick="limitThumbsUp(id)">
                    👍({{posts.2.likes}})
                  </div>
                  <div class="insight__post__comment">🗨(10)</div>
                  <div class="insight__post__market">
                    🛒({{posts.2.refCount}})
                  </div>
                  <div class="recommend__post__hashtag">
                    {% for tag in post2.tag.all %}
                    <span>#{{ tag }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="recommend__insight__post__pagination"></div>
          </div>
          <div class="todays__insight__container">
            <div class="todays__insight__title">오늘의 인사이트</div>
            <div class="todays__insight__navigator">
              <button class="todays__insight__hashtag">정치</button>
              <button class="todays__insight__hashtag">경제</button>
              <button class="todays__insight__hashtag">사회</button>
              <button class="todays__insight__hashtag">생활/문화</button>
              <button class="todays__insight__hashtag">IT/과학</button>
              <button class="todays__insight__hashtag">세계</button>
            </div>
            <div class="todays__insight__post__list">
              <div class="todays__insight__post__container">
                <div class="todays__insight__post__img"></div>
                <div class="todays__insight__post__letters">
                  <div class="todays__insight__post__hashtag">
                    <p>#경제</p>
                  </div>
                  <div class="todays__insight__post__title">
                    <a style="color: #656565">여기는 인사이트 제목입니다.</a>
                  </div>
                  <div class="todays__insight__post__body">
                    <a style="color: #656565">여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라.
                      청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의
                      이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.
                      여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라.
                      청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의
                      이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.</a>
                  </div>
                  <div class="todays__insight__post__others">
                    <div class="post__like">👍(10)</div>
                    <div class="post__comment">🗨(10)</div>
                    <div class="post__market">🛒(10)</div>
                    <div class="written__by">written by 작성자</div>
                  </div>
                </div>
              </div>
              <div class="todays__insight__post__container">
                <div class="todays__insight__post__img"></div>
                <div class="todays__insight__post__letters">
                  <div class="todays__insight__post__hashtag">
                    <p>#경제</p>
                    <p>#경제</p>
                  </div>
                  <div class="todays__insight__post__title">
                    <a style="color: #656565">여기는 인사이트 제목입니다.</a>
                  </div>
                  <div class="todays__insight__post__body">
                    <a style="color: #656565">여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라.
                      청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의
                      이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.
                      여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라.
                      청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의
                      이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.</a>
                  </div>
                  <div class="todays__insight__post__others">
                    <div class="post__like">👍(10)</div>
                    <div class="post__comment">🗨(10)</div>
                    <div class="post__market">🛒(10)</div>
                    <div class="written__by">written by 작성자</div>
                  </div>
                </div>
              </div>
              <div class="todays__insight__post__container">
                <div class="todays__insight__post__img"></div>
                <div class="todays__insight__post__letters">
                  <div class="todays__insight__post__hashtag">
                    <p>#경제</p>
                    <p>#경제</p>
                  </div>
                  <div class="todays__insight__post__title">
                    <a style="color: #656565">여기는 인사이트 제목입니다.</a>
                  </div>
                  <div class="todays__insight__post__body">
                    <a style="color: #656565">여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라.
                      청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의
                      이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.
                      여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라.
                      청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의
                      이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.</a>
                  </div>
                  <div class="todays__insight__post__others">
                    <div class="post__like">👍(10)</div>
                    <div class="post__comment">🗨(10)</div>
                    <div class="post__market">🛒(10)</div>
                    <div class="written__by">written by 작성자</div>
                  </div>
                </div>
              </div>
              <div class="todays__insight__post__container">
                <div class="todays__insight__post__img"></div>
                <div class="todays__insight__post__letters">
                  <div class="todays__insight__post__hashtag">
                    <p>#경제</p>
                    <p>#경제</p>
                  </div>
                  <div class="todays__insight__post__title">
                    <a style="color: #656565">여기는 인사이트 제목입니다.</a>
                  </div>
                  <div class="todays__insight__post__body">
                    <a style="color: #656565">여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라.
                      청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의
                      이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.
                      여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라.
                      청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의
                      이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.</a>
                  </div>
                  <div class="todays__insight__post__others">
                    <div class="post__like">👍(10)</div>
                    <div class="post__comment">🗨(10)</div>
                    <div class="post__market">🛒(10)</div>
                    <div class="written__by">written by 작성자</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="recommend__insight__post__pagination"></div>
          </div>
        </section>


        {% if user.is_authenticated %}
        <section id="article__list__container">
          <div class="navbar__trash"></div>
          <div class="aritcle__list__popUp">
            <div class="popUp__toggle">
              <i id="popUp__toggle__btn" class="fa-solid fa-bars"></i>
            </div>
            <div class="popUp__profile">

              <div class="popUp__profile__img">
                <img src="{% static 'ui/img/dummy.png'%}" alt="" />
              </div>
              <!-- </a> -->
              <div class="popUp__profile__names">
                <p class="profile__id">{{ user.profile.nickname }}</p>
                <p class="profile__pos">초보 바리스타</p>
              </div>
            </div>
            <div class="popUp__myCart">
              <p class="popUP__myCart__Btn">내 카페</p>
              <p class="Btn__divider">|</p>
              <p class="popUP__myCart__Btn">저장한 글</p>
            </div>
            <div class="choose__between__saved">
              <p class="choose__saved__Btn">인사이트</p>
              <p class="Btn__divider" style="color: transparent">|</p>
              <p class="choose__saved__Btn">컬렉션</p>
            </div>
            <div class="popUp__myCart__list">
              <div class="collection__whole">
                <div class="myCart__each__list">
                  <div class="collection__container">
                    <div class="collection__template first"></div>
                    <div class="collection__template second"></div>
                    <div class="collection__template third"></div>
                  </div>
                  <div class="each__list__container">
                    <div class="list__main__title">
                      <h3>솔방울의 영양학적 가치</h3>
                    </div>
                    <div class="list__main__author">
                      <p>솔방울맨 한우석</p>
                    </div>
                    <div class="list__main__hashtags">
                      <p>#경제학</p>
                      <p>#경제학</p>
                    </div>
                  </div>
                  <div class="each__list__trash">
                    <i class="fa-solid fa-trash-can"></i>
                  </div>
                </div>
                <div class="myCart__each__list">
                  <div class="collection__container">
                    <div class="collection__template first"></div>
                    <div class="collection__template second"></div>
                    <div class="collection__template third"></div>
                  </div>
                  <div class="each__list__container">
                    <div class="list__main__title">
                      <h3>솔방울의 영양학적 가치</h3>
                    </div>
                    <div class="list__main__author">
                      <p>솔방울맨 한우석</p>
                    </div>
                    <div class="list__main__hashtags">
                      <p>#경제학</p>
                      <p>#경제학</p>
                    </div>
                  </div>
                  <div class="each__list__trash">
                    <i class="fa-solid fa-trash-can"></i>
                  </div>
                </div>
                <div class="myCart__each__list">
                  <div class="collection__container">
                    <div class="collection__template first"></div>
                    <div class="collection__template second"></div>
                    <div class="collection__template third"></div>
                  </div>
                  <div class="each__list__container">
                    <div class="list__main__title">
                      <h3>솔방울의 영양학적 가치</h3>
                    </div>
                    <div class="list__main__author">
                      <p>솔방울맨 한우석</p>
                    </div>
                    <div class="list__main__hashtags">
                      <p>#경제학</p>
                      <p>#경제학</p>
                    </div>
                  </div>
                  <div class="each__list__trash">
                    <i class="fa-solid fa-trash-can"></i>
                  </div>
                </div>
              </div>
              <div class="insights__whole">
                <div class="insights__each__list">
                  <div class="insights__img"></div>
                  <div class="insights__others">
                    <div class="insights__title">
                      인사이트 제목인사이트 제목인사이트 제목 ...
                    </div>
                    <div class="insights__wrapping">
                      <div class="insights__hashtags">
                        <p>#경제학</p>
                        <p>#경제학</p>
                      </div>
                      <i class="fa-solid fa-trash-can"></i>
                    </div>
                  </div>
                </div>
                <div class="insights__each__list">
                  <div class="insights__img"></div>
                  <div class="insights__others">
                    <div class="insights__title">
                      인사이트 제목인사이트 제목인사이트 제목 ...
                    </div>
                    <div class="insights__wrapping">
                      <div class="insights__hashtags">
                        <p>#경제학</p>
                        <p>#경제학</p>
                      </div>
                      <i class="fa-solid fa-trash-can"></i>
                    </div>
                  </div>
                </div>
                <div class="insights__each__list">
                  <div class="insights__img"></div>
                  <div class="insights__others">
                    <div class="insights__title">
                      인사이트 제목인사이트 제목인사이트 제목 ...
                    </div>
                    <div class="insights__wrapping">
                      <div class="insights__hashtags">
                        <p>#경제학</p>
                        <p>#경제학</p>
                      </div>
                      <i class="fa-solid fa-trash-can"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="written__insights__whole">
                <!-- 여기가 내 카페 글 목록 -->
                {% if blogs_all.0 %}
                <div class="insights__each__list">
                  <div class="insights__img"></div>
                  <div class="insights__others">
                    <div class="insights__title">{{blogs_all.0.title}}</div>
                    <div class="insights__wrapping">
                      <div class="insights__hashtags">
                        {% for tag in blogs_all.0.tag.all %}
                        <p>#{{ tag }}</p>
                        {% endfor %}
                      </div>
                      <i class="fa-solid fa-trash-can"></i>
                    </div>
                  </div>
                </div>
                {% endif %} {% if blogs_all.1 %}
                <div class="insights__each__list">
                  <div class="insights__img"></div>
                  <div class="insights__others">
                    <div class="insights__title">{{blogs_all.1.title}}</div>
                    <div class="insights__wrapping">
                      <div class="insights__hashtags">
                        {% for tag in blogs_all.1.tag.all %}
                        <p>#{{ tag }}</p>
                        {% endfor %}
                      </div>
                      <i class="fa-solid fa-trash-can"></i>
                    </div>
                  </div>
                </div>
                {% endif %} {% if blogs_all.2 %}
                <div class="insights__each__list">
                  <div class="insights__img"></div>
                  <div class="insights__others">
                    <div class="insights__title">{{blogs_all.2.title}}</div>
                    <div class="insights__wrapping">
                      <div class="insights__hashtags">
                        {% for tag in blogs_all.2.tag.all %}
                        <p>#{{ tag }}</p>
                        {% endfor %}
                      </div>
                      <i class="fa-solid fa-trash-can"></i>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="popUp__pagination"></div>
            <a href="{% url 'create_post' %}">
              <div class="write__btn">글쓰기 +</div>
            </a>
          </div>
        </section>

        {% endif %}
      </div>
      <!-- <section id="modal">
        <div class="modal__wrap">
          <div class="modal__top">
            뉴스와 커피 한 모금<br /><b>NEWSLATTE</b>☕
          </div>
          <form class="modal__login__form" method="post" onsubmit="false">
            <input type="text" name="id" placeholder="ID" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" id="login__submit__btn" value="로그인" />
          </form>
          <p>또는 소셜 로그인</p>
          <div class="modal__login__social">
            <div class="social__login__imgs">
              <img id="social__login" src="{% static '/ui/img/kakao_logo.jpg' %}" alt="카카오 로그인 버튼" />
              <img id="social__login" src="{% static '/ui/img/naver_logo.PNG' %}" alt="네이버 회원가입 버튼" />
              <img id="social__login" src="{% static '/ui/img/google_logo.PNG' %}" alt="구글 회원가입 버튼" />
              <img id="social__login" src="{% static '/ui/img/facebook__logo.png' %}" alt="페이스북 로그인 버튼">
            </div>
          </div>
          <p>
            혹은
            <a href="../signUp/signUp.html" class="modal__signUp">회원가입</a>하러가기
          </p>
          <i id="modal__close" class="fa-solid fa-xmark"></i>
      </section> -->
    </main>
    <footer></footer>
  </div>
  <script type="text/javascript" src="{% static '/ui/js/index.js'%}"></script>
</body>

</html>