{% extends "user_base.html" %}
{% load static %}
{% block contents %}

<form action="" , method="POST">
    {% csrf_token %}
    <div>
        <label>
            <input type="checkbox" name="agreement1" />
            <span>이용약관에 동의합니다.</span>
            {% comment %} 사이트 이용약관은 법률을 보면서 직접 작성 또는 구글링으로! {% endcomment %}
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="agreement2" />
            <span>개인정보 수집 및 이용에 동의합니다.</span>
         </label>
    </div>
</form>

{% endblock %}