
{% load static %}

<!DOCTYPE html>
<html lang="Ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEWSLATTE</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static '/accounts/css/signUp.css' %}" />
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  </head>
  <body>
    <div class="bg__dark"></div>
    <div class="header__container">
      <header>
        <nav>
          <div class="navBar__container">
            <div class="navBar__left">
              <i id="navBar__toggle__icon" class="fa-solid fa-bars"></i>
              <div class="navBar__name">
                <h1 class="navBar__name__h1">NEWSLATTE</h1>
              </div>
            </div>
            <div class="navBar__right">
              <i class="fa-solid fa-magnifying-glass"></i>
              <button class="navBar__right__save direct">로그인</button>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <section id="signUp">
        <div class="signUp__container">
          <div class="signUp__logo">
            <h1>뉴스라떼</h1>
          </div>
          <div class="signup__inside">
            회원가입을 진심으로 환영합니다!<br/>
            
          </div>
        </div>
    </section>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  </body>
</html>
