{% load socialaccount %}
{% providers_media_js %}

<form action="{% url 'profile'%}" method="POST">
    {% csrf_token %}
    nickname: <input type="text" name="nickname"> <br>
    intro: <input type="text" name="intro">
    <br>
    <input type="submit" value="로그인">
</form>


<form action="{% url 'logout' %}" method = "POST">
    {% csrf_token %}
    <input type="submit" value="logout">
</form>

<!-- <a href="{% provider_login_url 'google' %}">Google</a>
<a href="{% provider_login_url 'naver' %}">Naver</a>
<a href="{% provider_login_url 'kakao' %}">Kakao</a> -->