{% load static %}
<!DOCTYPE html>
<html lang="Ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEWSLATTE</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static '/mypage/css/mypage.css' %}" />
  </head>
  <body>
    <div class="bg__dark"></div>
    <div class="mypage__container">
      <!-- <div class="aside__container"> -->
        <!-- <aside>
          <div class="aside__top">
            <i id="aside__top__icon" class="fa-solid fa-angles-left"></i>
          </div>
          <div class="aside__list">
            <ul>
              <li><p class="dropDn">&#9749; 내 컬렉션</p></li>
              <li>
                <p class="dropDn">&#9749; 내 카페</p>
                <ul class="aside__list__myCafe">
                  <li>
                    <p class="dropDn">시사</p>
                  </li>
                  <li>
                    <p class="dropDn">경제</p>
                  </li>
                  <li>
                    <p class="list__mycafe__add">&#43;</p>
                    <input class="list__mycafe__input" type="text" />
                  </li>
                </ul>
              </li>
              <li><p class="dropDn">&#9749; 오늘의 컬렉션</p></li>
              <li><p class="dropDn">&#9749; organization</p></li>
              <li><p class="dropDn">&#9749; 문의사항 및 질문</p></li>
            </ul>
          </div>
        </aside>
      </div> -->
      <div class="myPage__main">
        <div class="header__container">
          <header>
            <nav>
              <div class="navBar__container">
                <div class="navBar__left">
                  <i id="navBar__toggle__icon" class="fa-solid fa-bars"></i>
                  <div class="navBar__name">
                    <h1 class="navBar__name__h1">NEWSLATTE</h1>
                  </div>
                </div>
                <div class="navBar__right">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <button class="navBar__login__btn">로그인</button>
                  <a href="../myPage/mypage.html"
                    ><img class="navBar__profile__img" src="" alt=""
                  /></a>
                </div>
              </div>
            </nav>
          </header>
        </div>
        <main>
          <section class="main__myPage">
            <div class="holdbackground">
              <div class="profile__container">
                <div class="profile__others">
                  <div class="profile__pic"></div>
                  <div class="profile__letters">
                    <p class="profile__name">{{ profile.nickname }}</p>
                    <p class="profile__introduction">{{ profile.intro }}</p>
                  </div>
                </div>
              </div>
              <div class="written__and__saved">
                <div class="written__and__saved__choose">
                  <p class="written__articles__btn">작성 글</p>
                  <p class="saved__articles__btn">저장한 글</p>
                </div>
                <div class="saved__insights__collections">
                  <div class="insights__collection__choose">
                    <p class="insights__btn">인사이트</p>
                    <p class="collection__btn">컬렉션</p>
                  </div>
                </div>
                <div class="written__articles__list">

                  {% for post in posts %}
                  <a href="{% url 'detail_page' post.id %}">
                  <div class="written__articles__container">
                    <img class="written__articles__img" src="{{ post.img }}">
                    <div class="written__articles__letters">
                      <div class="written__articles__hashtag">
                        <p>#{{ post.tag.name }} </p>
                        <!-- <p>#경제 </p> -->
                      </div>
                      <div class="written__articles__title"><a href="" style="color: #656565;">{{ post.title }}</a></div>
                      <div class="written__articles__body">
                        <a href="" style="color: #656565; ">{{ post.content }}</a>
                      </div>
                      <div class="written__articles__others">
                        <div class="article__like">👍({{ post.likes }})</div>
                        <div class="article__comment">🗨({{ post.comment_set.count }})</div>
                        <div class="article__market">🛒({{ post.refCount }})</div>
                        <div class="written__by">written by {{ post.author.nickname }}</div>
                      </div>
                    </div>
                  </div>
                  </a>
                  {% endfor %}

                  <div class="post__pagination">
                    <p>&#8249;</p>
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                    <p>&#8250;</p>
                  </div>    
                </div>
                <div class="saved__insights__list">
                  <div class="written__articles__container">
                    <img class="written__articles__img" src="../../resources/dummy.png">
                    <div class="written__articles__letters">
                      <div class="written__articles__hashtag">
                        <p>#경제 </p>
                        <p>#경제 </p>
                      </div>
                      <div class="written__articles__title"><a href="" style="color: #656565;">여기는 인사이트 제목입니다.</a></div>
                      <div class="written__articles__body">
                        <a href="" style="color: #656565; ">여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라. 청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의 이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다. 여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라. 청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의 이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.</a>
                      </div>
                      <div class="written__articles__others">
                        <div class="article__like">👍(10)</div>
                        <div class="article__comment">🗨(10)</div>
                        <div class="article__market">🛒(10)</div>
                        <div class="written__by">written by 작성자</div>
                      </div>
                    </div>
                  </div>
                  <div class="written__articles__container">
                    <img class="written__articles__img" src="../../resources/dummy.png">
                    <div class="written__articles__letters">
                      <div class="written__articles__hashtag">
                        <p>#경제 </p>
                        <p>#경제 </p>
                      </div>
                      <div class="written__articles__title"><a href="" style="color: #656565;">여기는 인사이트 제목입니다.</a></div>
                      <div class="written__articles__body">
                        <a href="" style="color: #656565; ">여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라. 청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의 이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다. 여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라. 청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의 이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.</a>
                      </div>
                      <div class="written__articles__others">
                        <div class="article__like">👍(10)</div>
                        <div class="article__comment">🗨(10)</div>
                        <div class="article__market">🛒(10)</div>
                        <div class="written__by">written by 작성자</div>
                      </div>
                    </div>
                  </div>
                  <div class="written__articles__container">
                    <img class="written__articles__img" src="../../resources/dummy.png">
                    <div class="written__articles__letters">
                      <div class="written__articles__hashtag">
                        <p>#경제 </p>
                        <p>#경제 </p>
                      </div>
                      <div class="written__articles__title"><a href="" style="color: #656565;">여기는 인사이트 제목입니다.</a></div>
                      <div class="written__articles__body">
                        <a href="" style="color: #656565; ">여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라. 청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의 이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다. 여기는 요약부분 어디 힘차게 동산에는 바로 온갖 보라. 청춘 피고, 대중을 하여도 열매를 힘있다. 힘차게 그들의 이상은 얼마나 그들은 할지라도 열락의 심장의 약동하다.</a>
                      </div>
                      <div class="written__articles__others">
                        <div class="article__like">👍(10)</div>
                        <div class="article__comment">🗨(10)</div>
                        <div class="article__market">🛒(10)</div>
                        <div class="written__by">written by 작성자</div>
                      </div>
                    </div>
                  </div>
                  <div class="post__pagination">
                    <p>&#8249;</p>
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                    <p>&#8250;</p>
                  </div>    
                </div>
                <div class="saved__collection__list">
                  <div class="saved__collection__container">
                    <div class="saved__collection__img">
                      <div class="first">
                        <div class="second">
                          <div class ="third">
                            <img class = "main__img" src ="https://imgnews.pstatic.net/image/037/2022/08/17/0000031273_001_20220817100201185.jpg?type=w647">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="saved__collection__letters">
                      <div class="saved__collection__title"><a href="" style="color: #656565;">title title</a></div>
                      <div class="saved__collection__collector">collector name</div>
                      <div class="saved__collection__body">
                        <div class="first__gisa"> &#8226; 첫번째 기사 제목  첫번째 기사 제목  첫번째 기사 제목  첫번째 기사 제목 _ 00신문</div>
                        <div class="second__gisa">&#8226; 두번째 기사 제목  두번째 기사 제목  두번째 기사 제목  두번째 기사 제목 _ 00신문</div>
                        <div class="third__gisa">&#8226; 세번째 기사 제목  세번째 기사 제목  세번째 기사 제목  세번째 기사 제목 _ 00신문</div>
                      </div>
                      <div class="saved__collection__others">
                        <div class="article__like">👍(10)</div>
                        <div class="article__market">🛒(10)</div>
                        <div class="collection__hashtag">#경제학 #경제학</div>
                        <i class="fa-solid fa-trash-can"></i>
                      </div>
                    </div>
                  </div>
                  <hr class="collection__divider">
                  <div class="saved__collection__container">
                    <div class="saved__collection__img">
                      <div class="first">
                        <div class="second">
                          <div class="third">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="saved__collection__letters">
                      <div class="saved__collection__title"><a href="" style="color: #656565;">title title</a></div>
                      <div class="saved__collection__collector">collector name</div>
                      <div class="saved__collection__body">
                        <div class="first__gisa"> &#8226; 첫번째 기사 제목  첫번째 기사 제목  첫번째 기사 제목  첫번째 기사 제목 _ 00신문</div>
                        <div class="second__gisa">&#8226; 두번째 기사 제목  두번째 기사 제목  두번째 기사 제목  두번째 기사 제목 _ 00신문</div>
                        <div class="third__gisa">&#8226; 세번째 기사 제목  세번째 기사 제목  세번째 기사 제목  세번째 기사 제목 _ 00신문</div>
                      </div>
                      <div class="saved__collection__others">
                        <div class="article__like">👍(10)</div>
                        <div class="article__market">🛒(10)</div>
                        <div class="collection__hashtag">#경제학 #경제학</div>
                        <i class="fa-solid fa-trash-can"></i>
                      </div>
                    </div>
                  </div>
                  <hr class="collection__divider">
                  <div class="saved__collection__container">
                    <div class="saved__collection__img">
                      <div class="first">
                        <div class="second">
                          <div class="third">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="saved__collection__letters">
                      <div class="saved__collection__title"><a href="" style="color: #656565;">title title</a></div>
                      <div class="saved__collection__collector">collector name</div>
                      <div class="saved__collection__body">
                        <div class="first__gisa"> &#8226; 첫번째 기사 제목  첫번째 기사 제목  첫번째 기사 제목  첫번째 기사 제목 _ 00신문</div>
                        <div class="second__gisa">&#8226; 두번째 기사 제목  두번째 기사 제목  두번째 기사 제목  두번째 기사 제목 _ 00신문</div>
                        <div class="third__gisa">&#8226; 세번째 기사 제목  세번째 기사 제목  세번째 기사 제목  세번째 기사 제목 _ 00신문</div>
                      </div>
                      <div class="saved__collection__others">
                        <div class="article__like">👍(10)</div>
                        <div class="article__market">🛒(10)</div>
                        <div class="collection__hashtag">#경제학 #경제학</div>
                        <i class="fa-solid fa-trash-can"></i>
                      </div>
                    </div>
                  </div>
                  <hr class="collection__divider">
                  <div class="post__pagination">
                    <p>&#8249;</p>
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                    <p>&#8250;</p>
                  </div>    
                </div>
              </div>
            </div>
          </section>
          <!-- <section id="modal">
                    <div class="modal__wrap">
                      <div class="modal__top">뉴스와 커피 한 모금, 뉴스라떼</div>
                      <form class="modal__login__form" method="post" onsubmit="false">
                        <input type="text" name="id" placeholder=" ID" />
                        <input type="password" name="password" placeholder=" Password" />
                        <input type="submit" id="login__submit__btn" value="로그인" />
                      </form>
                      <p>
                        혹은
                        <a href="signUp.html" class="modal__signUp">회원가입</a>하러가기
                      </p>
                      <i id="modal__close" class="fa-solid fa-xmark"></i>
                    </div>
                  </section> -->
        </main>
        <footer></footer>
      </div>
    </div>
    <script type="text/javascript" src="{% static '/mypage/js/mypage.js' %}"></script>
  </body>
</html>
