@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* reset.css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset.css */

/* header */

* {
  box-sizing: border-box;
}

html {
  margin: 0px;
  width: 100%;
  height: 100%;
}

body {
  width: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  overflow: hidden;
}

.bg__dark {
  width: 100vw;
  height: 100%;
  background-color: gray;
  opacity: 0.6;
  position: absolute;
  z-index: 4;
  display: none;
}

.header__container {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
}

header {
  padding: 20px 0px;
  font-size: 25px;
  position: fixed;
  width: 70%;
  background-color: white;
  z-index: 3;
}

.navBar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar__name__h1 {
  font-weight: bold;
}

#navBar__toggle__icon {
  z-index: -1;
}

.navBar__toggle,
.navBar__searchLogin {
  width: 120px;
}
.navBar__searchLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar__login__btn {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px 17px;
  color: gray;
}

.navBar__login__btn:hover {
  background-color: lightgray;
}

.navBar__profile__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
}

.navBar__line {
  width: 100%;
}

.mypage__container {
  width: 100%;
  display: flex;
  height: 100%;
}

/* asdie 창 */

.aside__container {
  height: 100%;
  display: flex;
  align-items: center;
}

aside {
  height: 60%;
  width: 300px;
  font-size: 18px;
  box-shadow: 1px 1px 5px gray;
  border-radius: 0px 20px 20px 0px;
  transition: all ease 0.4s;
  z-index: 4;
  background-color: #efedea;
}

.aside__top {
  display: flex;
  height: 10%;
}

#aside__top__icon {
  margin-left: auto;
  margin-right: 15px;
  margin-top: 15px;
}

.main__wrtie {
  text-align: center;
  width: 300px;
}

.main__wrtie * {
  padding: 6px;
}

.aside__main__profile {
  height: 80%;
  font-size: 13px;
}

.main__profile__img {
  width: 90px;
  height: 80px;
}

#profile__userName {
  font-weight: bold;
  font-size: 18px;
}

.main__profile__write {
  height: 20%;
}

.profile__write__btn {
  border-radius: 10px;
  border: 1px solid gray;
}

.aside__list {
  font-size: 15px;
  padding: 30px 0px 0px 30px;
  justify-content: space-between;
  height: 80%;
  overflow: hidden auto;
}

.aside__list p {
  display: inline;
}

.aside__list ul {
  line-height: 30px;
}

.aside__list p {
  cursor: pointer;
}

.aside__list__myCafe {
  padding-left: 35px;
  font-size: 13px;
  line-height: 20px;
  color: gray;
  display: none;
}

.list__mycafe__input {
  display: none;
}

.show_list {
  display: block;
}

.show_aside {
  transition: all ease 0.4s;
  transform: translateX(0px);
}

/* modal 창 */

#modal {
  position: fixed;
  width: 85%;
  display: flex;
  visibility: hidden;
  justify-content: center;
  top: -30px;
  z-index: 4;
}

.modal__show {
  transition: all ease 0.5s;
  transform: translateY(70px);
}

.modal__wrap {
  width: 500px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.modal__login__form {
  display: flex;
  flex-direction: column;
  justify-content: centers;
  align-items: center;
}

.modal__login__form * {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 40px;
  margin: 1vh 0;
  border-radius: 10px;
}

#login__submit__btn {
  background-color: white;
}

#modal__close {
  position: absolute;
  top: 10px;
  right: 12px;
}

/* main 페이지 */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.main__myPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-top: 100px;
}

.myPage__main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}

.main__slide {
  position: relative;
}

#main__bgImg {
  width: 100%;
  height: 25vw;
}

.main__slide__text {
  position: absolute;
  top: 30%;
  left: 3%;
  font-size: 3vw;
  font-weight: bolder;
}

#main__slide__btn {
  margin-top: 15px;
  width: 130px;
  border: 1px gray solid;
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__divide {
  width: 100%;
  background-color: #8e7676;
}

.main__list {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__list__choose {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.main__list__choose * {
  padding: 10px 40px;
}

.main__search {
  position: relative;
  margin-top: 30px;
}

#main__search__input {
  padding: 8px;
  border-radius: 20px;
  width: 250px;
}

#main__search__icon {
  position: absolute;

  top: 10px;
  left: 10px;
}

.main__articles {
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

article {
  display: flex;
}

.main__article__img {
  display: flex;
  align-items: center;
}

.article__img {
  width: 140px;
  height: 100px;
}

.main__article__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__text__title {
  font-weight: bold;
}

.article__text__metaData {
  display: flex;
  justify-content: space-between;
}

.text__metadata__author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.metadata__author__name,
.text__metadata__recommended {
  color: gray;
}

.metadata__author__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.text__metadata__hashTag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.metadata__hashTag__container {
  padding: 5px 30px;
  display: flex;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 20px;
}

.text__metadata__recommended {
  display: flex;
  align-items: center;
}

/* signUp 페이지 */

#signUp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__signUp__form {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 100px 50px 50px 50px;
}

.modal__signUp__form * {
  margin: 10px 0px;
}

#kakao__login {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
